@{
}

<!--Bring in the model-->
@model Quote

<h2>Details</h2>
<br />

<table class="table table-sm table-striped">
    <tbody>
        <tr><th>Quote ID:</th><td>@Model.QuoteID</td></tr>
        <tr><th>Quote:</th><td>@Model.QuoteMessage</td></tr>
        <tr><th>Author:</th><td>@Model.Author</td></tr>
        <tr><th>Date:</th><td>@Model.Date</td></tr>
        <tr><th>Subject:</th><td>@Model.Subject</td></tr>
        <tr><th>Citation:</th><td>@Model.Citation</td></tr>
    </tbody>
</table>

<!--Edit and delete buttons-->
<a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-quoteid="@Model.QuoteID">Edit</a>
<a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-quoteid="@Model.QuoteID">Delete</a>

<br /><br />
<!--Button to return to home page-->
<a class="btn btn-light" href="/">Home</a>